<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title></title>
        <link rel="stylesheet" href="css/style.css">
        <script src="js/script.js" charset="utf-8"></script>
    </head>
    <body>
        <div id="app" class="container">
            <header>
                <img src="https://www.boolean.careers/images/misc/logo.png" alt="Logo Boolean">
            </header>

            <div class="newToDo">
                <input v-model="newTodo" type="text" placeholder="New Todo" @keyup.enter="addTodo">
                <button @click="addTodo" type="button" name="button">Aggiungi</button>
            </div>

            <div class="toDos">
                <ul>
                    <li class="todo" v-for="(contInd, ind) in todos">{{contInd}}<i @click="removeTodo(ind)" class="fas fa-times pointer"></i></li>
                </ul>
            </div>
        </div>
    </body>
</html>
